@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
    font-family: 'Comfortaa', cursive;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-grid-container {
    display: flex;
    margin-left: 112px;
}

.grid-border-container {
    justify-content: center;
    align-content: center;
}

.color-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#colorPicker {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 50px;
}

label {
    font-family: 'Comfortaa', cursive;
    margin-top: 10px;
}

.grid-container {
    border: 4px;
    border-style: solid;
    width: 600px;
    height: 600px;
    margin-top: 30px;
    display: grid;
    background-color: rgb(255, 252, 242);
}

.cell {
    /* TODO */
}

.slider-container {
    margin-top: 20px;
}

#sliderValue {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.clear-button, .rainbow-button {
    margin-top: 20px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.clear-button:hover, .rainbow-button:hover {
    background-color: #fff;
}

.clear-button:active, .rainbow-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .clear-button, .rainbow-button {
        min-width: 120px;
        padding: 0 25px;
    }
}